

.mobile {
    max-width: 576px !important;
    margin: 0 auto;
    padding: 16px;

    .todolist {
        &:hover {
            background-color: rgb(206, 206, 206);
            animation-name: animateChangeBg;
            animation-duration: 1s;
        }
    }
}

@keyframes animateChangeBg {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(206, 206, 206);}
  }